.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.buttonsContainer,
.inputContainer {
  display: flex;
  flex-direction: row;
  width: 250px;
  justify-content: center;
  margin-top: 16px;
}

.buttonsContainer > :first-child {
  margin-right: 16px;
}

.scovilleInfo {
  margin-top: 24px;
  max-width: 300px;
  border-radius: 10px;
  border: 6px solid rgb(248 52 255);
  padding: 10px;
  background-color: rgb(226 107 230 / 38%);
}

.scovilleInfo > h1 {
  font-size: 22px;
  text-transform: uppercase;
  margin-bottom: 0;
  margin-top: 0;
  text-shadow: black 3px 2px 2px;
}

.AppBg {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
}

.Sauce1BG {
  background-image: url("./images/sauce1.jpg");
}

.Sauce2BG {
  background-image: url("./images/sauce2.jpg");
}

.Sauce3BG {
  background-image: url("./images/sauce3.jpg");
}

.Sauce4BG {
  background-image: url("./images/sauce4.jpg");
}

.Sauce5BG {
  background-image: url("./images/sauce5.jpg");
}

.Sauce6BG {
  background-image: url("./images/sauce6.jpg");
}

.timelapse-1,
.timelapse-2,
.timelapse-3,
.timelapse-4,
.timelapse-5,
.timelapse-6 {
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  animation-duration: 1s;
}

.timelapse-1 {
  animation-name: timelapse-1;
}

@keyframes timelapse-1 {
  0% {
    height: 100%;
  }
  100% {
    height: 85%;
  }
}

.timelapse-2 {
  animation-name: timelapse-2;
}

@keyframes timelapse-2 {
  0% {
    height: 100%;
  }
  100% {
    height: 75%;
  }
}

.timelapse-3 {
  animation-name: timelapse-3;
}

@keyframes timelapse-3 {
  0% {
    height: 100%;
  }
  100% {
    height: 55%;
  }
}

.timelapse-4 {
  animation-name: timelapse-4;
}

@keyframes timelapse-4 {
  0% {
    height: 100%;
  }
  100% {
    height: 42%;
  }
}

.timelapse-5 {
  animation-name: timelapse-5;
}

@keyframes timelapse-5 {
  0% {
    height: 100%;
  }
  100% {
    height: 25%;
  }
}

.timelapse-6 {
  animation-name: timelapse-6;
}

@keyframes timelapse-6 {
  0% {
    height: 100%;
  }
  100% {
    height: 0%;
  }
}

canvas {
  height: 200px;
  width: 200px;
  position: absolute;
  left: 437px;
  top: -164px;
}

.CastShadow {
  position: absolute;
  left: -10px;
  top: 200px;
  filter: drop-shadow(-2px 6px 16px rgb(226 107 230 / 38%));
}

.scovilleBarContainer {
  position: relative;
  height: 350px;
  width: 350px;
  overflow: hidden;
  clip-path: polygon(
    39% 13%,
    65% 18%,
    100% 100%,
    84% 96%,
    67% 94%,
    50% 94%,
    29% 96%,
    9% 99%
  );
  opacity: 0.9;
}

.scovilleBarGradient {
  height: 100%;
  width: 100%;
  background: linear-gradient(to top, #3fff5f 0%, #ffdb3a 45%, #df0029 100%);
  opacity: 0.8;
}

.blankScovilleBar {
  background-color: #383a37;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  clip-path: polygon(
    39% 13%,
    65% 18%,
    100% 100%,
    84% 96%,
    67% 94%,
    50% 94%,
    29% 96%,
    9% 99%
  );
}

input {
  margin-top: 50px;
}

.App-header {
  background-color: #000000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.scovilleContainer,
.utilityContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
}

.scovilleContainer {
  left: 360px;
  filter: drop-shadow(4px 3px 6px #00000085);
}

.utilityContainer {
  left: 15px;
  bottom: 10px;
}
